/* Write your code here. */
.heading {
  text-align: center;
  padding-top: 150px;
}
.smallBox {
  background-color: #fbbf24;
  height: 10vh;
  width: 10vw;
  color: white;
  display: flex;
  margin-right: 20px;
}
.mediumBox {
  background-color: #38bdf8;
  height: 30vh;
  width: 30vw;
  display: flex;
  color: white;
  margin-right: 20px;
}
.largeBox {
  background-color: #ec4899;
  height: 50vh;
  width: 50vw;
  display: flex;
  color: white;
  margin-right: 10px;
}
